#  Data Analysis:


Analysing the large set of data as per user requirmemts

### Requirments for learning data analysis

* python
* numpy 
* pandas
* Data Visualization
    * matplotlib
    * seaborn

### What is python?

> Python is Programming Language.Python contains oops concepts for developing web applications.it is also general purpose programming language.

### Text Styles:
what is your college name.my college name is **VIEW**

what is your name. my name is *Mercy*

what is your marks ***marks***


we are learning `Data analysis`

### links:

to know about your self lets go [google](https://www.google.com) it


### code formate

#### python functions syntax:

```def function_name(parameters):
    statements
    return
function_name()```

variable: named memory location for storing the value

In [8]:
print("python varibles")
print("python programming")
print(3-2)

python varibles
python programming
1

In [12]:
import keyword
print(keyword.kwlist)
print('length of keyword list is',len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
length of keyword list is 35

In [15]:
a=10
c='ch'
type(a)
type(c)

str

formats

In [18]:
a=10
b=20
c=a+b
print("the sum of a,b is",c)
print("the sum ",a ,"and",b,"is",c)
print("the sum of {0} and {1} is {2}".format(a,b,c))

the sum of a,b is 30
the sum  10 and 20 is 30
the sum of 10 and 20 is 30

every input given by the user firstly it treated as string
ex:10 is treated as string
    so below code is appeard

In [1]:
a=input("enter a value")
b=input("enter b value")
a+b

enter a value10
enter b value20

'1020'

In [2]:
a=int(input("enter a value"))
b=int(input("enter b value"))
a+b

enter a value10
enter b value20

30

# Address

In [7]:
a=10
b=100
print("adress of a is",id(b))
print("adress of b is",id(a))

adress of a is 140715178237856
adress of b is 140715178234976

### condition  statements in python

* if
   * syntax:
   ```if(condition):
           statements```
* else
* elif
* nested if

In [8]:
a=10
if(a>10):
    print("True")
else:
    print("False")

False

In [9]:
a=100
b="emo"
if(a>10):
    if(b=="emo"):
        print("yes")
    else:
        print("yoyo")
    print("True")
else:
    print("False")

yes
True

In [10]:
# elif
a=100
if(a>200):
    print("True")
elif(a==100):
    print("elif true")
else:
    print("else false")

elif true

# looping statements
* while
    * intialize
    * condition
    * incre/decre
* for

In [13]:
# print 1 to 10
i=10
while(i<=10):           #1<10
    print(i,end="")     #0 1
    i=i+1               # i=2
print()
print("miru loop lo unchi bayataki vacharo ohoooooo")

10
miru loop lo unchi bayataki vacharo ohoooooo

In [20]:
# for loop         # using if condition

for var in range(10):
    print(var,end=" ")
print()
for var in range(2,10):
    print(var,end=" ")
for var in range(1,10):
    if(var%2!=0):
        print()
        print(var,end=" ")

0 1 2 3 4 5 6 7 8 9
2 3 4 5 6 7 8 9
1
3
5
7
9

In [ ]:
#using step size

In [22]:
for var in range(1,10,2):
    print(var,end=" ")

1 4 7

# Lists:

In [27]:
l=[1,2,3,1.4,2.5,"string","hello",2+3j,True]
type(l)

list

In [28]:
l[1:4]      # start:end =>include:exclude

[2, 3, 1.4]

In [29]:
l[1:7:2]      # start:end:step

[2, 1.4, 'string']

In [30]:
l[::-1]

[True, (2+3j), 'hello', 'string', 2.5, 1.4, 3, 2, 1]

In [31]:
l[::-2]

[True, 'hello', 2.5, 3, 1]

In [33]:
l[:]

[1, 2, 3, 1.4, 2.5, 'string', 'hello', (2+3j), True]

In [36]:
l=[1,2,3,4,5,6,7]
for i in l:
    print(i,end=" ")

1 2 3 4 5 6 7

In [38]:
l=[10,27,36,36,48,45]
for i in l:
    print(i,end=" ")
print()
for i in range(len(l)):
    print(i,"->",l[i])

10 27 36 36 48 45
0 -> 10
1 -> 27
2 -> 36
3 -> 36
4 -> 48
5 -> 45

In [39]:
# find the classes and methods in list

dir(l)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

### sets:

set is a collection of unorder items.set does not allow duplicate data.

set can be declared {value1,value2}

sets are mutable.

In [40]:
s={}
type(s)

dict

In [44]:
s={1,2,3,4,44,55,0}
type(s)
print(s)

{0, 1, 2, 3, 4, 44, 55}

In [45]:
s={1,2,3,"string",4.8,3+2j}

In [46]:
s

{(3+2j), 1, 2, 3, 4.8, 'string'}

In [48]:
s={1,2,3,"string",4.8,3+2j,[10,20]}       #set doesn't take list
s

TypeError: unhashable type: 'list'

In [49]:
l=[20,40]            # to take list in a set we use set(variable)
s=set(l)

In [50]:
s

{20, 40}

In [56]:
dir(l)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [55]:
for i in s:                     # set is unorderd so it give unorderly
    print(i,end=" ")

40 20

In [ ]:
# tuples

In [57]:
t=(3,4,"fewe",5+4j)    # in  tuple we can't pass the data to index
type(t)

tuple

In [ ]:
# Dictionary
 dictionary is a collection of key value pairs

In [58]:
d={"name":"mercy","age":20,"item":40}

In [59]:
d

{'name': 'mercy', 'age': 20, 'item': 40}

In [60]:
d.keys()

dict_keys(['name', 'age', 'item'])

In [61]:
d.values()

dict_values(['mercy', 20, 40])

In [62]:
d["name"]

'mercy'

In [63]:
d.items()

dict_items([('name', 'mercy'), ('age', 20), ('item', 40)])

In [64]:
for i,j in d.items():
    print(i,"---------->",j)

name ----------> mercy
age ----------> 20
item ----------> 40

In [70]:
s="hello"
s[::-1]

'olleh'

In [76]:
s[-1]+s[1:-1]+s[0]

'oellh'

# Functions:
 set of statements //return,with return ,with arguments,without arguments,recursive functionss

In [78]:
def edhofunction():
    print("break time")
edhofunction()

break time

In [79]:
def breaktime(a,b):
    print("with in  function",a+b)
    return a+b
bt=breaktime(10,20)
print("after",bt)

with in  function 30
after 30